body {
  font-family: Trajana Sans !important;
  font-weight: lighter;
}

h1,
h2 {
  margin: 0 !important;
  margin-bottom: 10px !important;
}

h2 {
  font-size: 15px !important;
}
i {
  font-size: 80px;
  padding: 10px;
  margin: 10px;
}

p {
  margin: 0 !important;
  text-align: center !important;
  color: #5d534a !important;
}

img {
  width: 100px;
}

.btn {
  background: #f3f0d7 !important;
  color: #5d534a !important;
}
.btn:hover {
  background: #5d534a !important;
  color: #fff !important;
}
.card {
  border-color: grey !important;
  border-radius: 10px !important;
}
.outerCard {
  background-color: #cee5d0 !important;
}
.form-control {
  background: #f3f0d7 !important;
}

.form-inline {
  display: block;
  margin-bottom: 20px;
}
.currentCity {
  background-color: #f3f0d7 !important;
  color: #5d534a !important;
}

#current-city {
  text-align: left !important;
}

.moreInfo {
  margin: 20 !important;
  text-align: left !important;
}

.container {
  margin: 50px auto;
  max-width: 600px !important;
}
.card {
  padding: 20px;
  border-radius: 40px;
  word-wrap: normal !important;
}
.currentCityData {
  font-size: 30px;
}

.far {
  color: burlywood;
}

.fas,
.far {
  font-size: 40px !important;
}

.nextDaysName,
.nextDaysTemp {
  text-transform: uppercase;
  text-align: center;
  color: #5d534a !important;
}

.nextDaysIcon {
  text-transform: uppercase;
  text-align: center;
}
.nextDaysName {
  font-weight: bold;
}
.innerCard {
  padding: 10px;
  background-color: #f3f0d7 !important;
}

#descr {
  margin: 0 !important;
}

.active {
  cursor: default;
  color: #5d534a;
}

.active:hover {
  text-decoration: none;
  color: #5d534a;
}

.lastUpdated {
  text-align: left !important;
  vertical-align: bottom !important;
}

#current-time {
  text-align: left !important;
}
